body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*---------------Reset-------------------*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

a {
  color: currentColor;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  width: 100%;
}

/*---------------Variables---------------*/
:root {
  --title-hero-color: #ffffff;
  --title-color: #212121;
  --after-title-color: #757575;
  --main-btn-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --contact-color: #757575;
  --nav-link-color: #212121;
  --focus-color: #ffffff;
  --accent-btn-color: #ffffff;
  --top-logo-color: #000000;
  --bottom-logo-color: #ffffff;
  --socials-icon-color: #afb1b8;
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header__container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .page-header {
    height: 60px;
    padding: 16px 0;
  }
}

.page-header__container {
  position: relative;
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .page-header__container {
    justify-content: space-between;
  }
}

.contacts {
  display: flex;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .contacts {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    column-gap: 30px;
    margin-left: auto;
  }
}

.contacts__mail,
.contacts__tel {
  text-decoration: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__mail:hover, .contacts__mail:focus,
.contacts__tel:hover,
.contacts__tel:focus {
  color: var(--main-accent-color);
}
@media screen and (min-width: 1200px) {
  .contacts__mail,
.contacts__tel {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__link {
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--main-title-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--main-accent-color);
}

.site-nav__link--active {
  position: relative;
}
.site-nav__link--active::after {
  position: absolute;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--main-accent-color);
}

/*---------------Logo--------------------*/
.logo {
  color: var(--title-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
}
.logo__accent {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

.page-footer__logo {
  color: var(--bottom-logo-color);
  margin-bottom: 20px;
  display: inline-block;
}

/*---------------Main--------------------*/
/*---------------Hero--------------------*/
.section-hero {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 15px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-bg.jpg);
  background-color: #2f303a;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-bg@x2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-bg.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-bg@x2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    padding: 200px 0;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg@x2.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  max-width: 360px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-hero-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.buttons {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-btn-color);
  background: var(--accent-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  border-color: transparent;
  margin: 0 auto;
  white-space: nowrap;
}

.buttons-footer {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: left;
  letter-spacing: 0.06em;
  color: var(--accent-btn-color);
  background: var(--accent-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  border: 0;
  border-radius: 4px;
  border-color: transparent;
  margin: 0;
}

/* --------------Modal window------------*/
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-icon-btn {
  transition: fill 250ms var(--timing-function);
}

.modal-close-btn:focus,
.modal-close-btn:hover .modal-icon-btn {
  fill: var(--accent-color);
}

.modal-close-btn:focus {
  outline: var(--accent-color);
  border-color: var(--accent-color);
}

.form-wrapp,
.form-wrapper {
  position: relative;
}

.form-wrapp {
  margin-bottom: 28px;
}

.form-wrapper {
  margin-bottom: 20px;
}

.modal-label {
  position: absolute;
  left: 0;
  top: -18px;
}

.icon-person-form {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 30px;
}

.modal-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--after-title-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  background-color: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.modal-input:hover {
  border-color: var(--accent-color);
}

.modal-input:focus ~ .icon-person-form {
  fill: var(--accent-color);
}

.modal-input:hover ~ .icon-person-form {
  fill: var(--accent-color);
}

.modal-input:focus {
  outline: var(--accent-color);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.icon-person-form:hover {
  fill: var(--accent-color);
}

.modal-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.comment-text::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-text:focus {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.comment-text:hover {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.modal-check {
  margin-bottom: 30px;
}

.check-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.74;
  letter-spacing: 0.03em;
  color: #757575;
}

.check-text::before {
  content: "";
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.input-check:checked + .check-text::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/che.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.accent-license {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/*---------------Feature list------------*/
.feature {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (min-width: 1200px) {
  .feature {
    padding: 94px 0;
  }
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.feature-list__item {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .feature-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.feature-conteiner {
  background: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 25px 0;
  height: 120px;
  margin-bottom: 30px;
}

.feature-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .feature-list__title {
    text-align: center;
  }
}

.feature-list__description {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--after-title-color);
}

/*---------------Work--------------------*/
.section-work {
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .section-work {
    display: none;
  }
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.work-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.work-list__item {
  position: relative;
}

.work-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-label__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*---------------Team--------------------*/
.team-section {
  background: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.team-list__item {
  background-color: #ffffff;
  margin: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.decription-team {
  padding: 30px 32px;
}

.decription-team__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.decription-team__position {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--after-title-color);
  margin-bottom: 16px;
}

.socials-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.socials-list__item:not(:last-child) {
  margin-right: 10px;
}

.socials-list__item {
  width: 44px;
  height: 44px;
}

.socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color, fill 250ms var(--timing-function);
}

.socials-list__icon {
  fill: var(--socials-icon-color);
  transition: fill 250ms var(--timing-function);
}

.socials-list__link:hover,
.socials-list__link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
  border-radius: 50%;
}

.socials-list__link:hover .socials-list__icon {
  fill: #ffffff;
}

.socials-list__link:focus .socials-list__icon {
  fill: #ffffff;
}

/*---------------Clients-----------------*/
@media screen and (min-width: 1200px) {
  .clients-section {
    padding: 94px 0;
  }
}

.clients-list {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-list__item {
  height: 92px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .clients-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-list__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms var(--timing-function);
}
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}
.clients-list__link:hover .clients-list__icon {
  fill: var(--accent-color);
}
.clients-list__link:hover, .clients-list__link:focus .clients-item-list {
  border-color: var(--accent-color);
}

.clients-list__icon {
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-function);
}

/*---------------Footer general----------*/
.page-footer {
  background-color: #2f303a;
}
@media screen and (min-width: 1200px) {
  .page-footer {
    padding: 60px 0;
  }
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
}
@media screen and (max-width: 767px) {
  .page-footer__container {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .page-footer__container {
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1199px) {
  .adress-container {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .adress-container {
    margin-right: 70px;
  }
}

.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--focus-color);
}

.adress__link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-top: 8px;
  padding: 0;
  transition: color 250ms var(--timing-function);
}
.adress__link:hover, .adress__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .join-box {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .join-box {
    margin-right: 70px;
  }
}

.join-box__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  color: var(--focus-color);
  margin-bottom: 20px;
}

.join-links-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.join-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-list__link:hover, .join-list__link:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
}

.join-list__icon {
  fill: var(--focus-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-group {
    min-width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .form-group {
    text-align: center;
  }
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1199px) {
  .subscribe-form {
    align-items: center;
    flex-direction: column;
  }
}

.subscribe-form__title {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--focus-color);
}

.subscribe-form__imput {
  width: 100%;
  max-width: 450px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  padding-left: 16px;
  margin-bottom: 20px;
  color: var(--focus-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: outline 250ms var(--timing-function);
}
.subscribe-form__imput::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__imput:focus {
  outline: 1px solid var(--focus-color);
}
@media screen and (min-width: 1200px) {
  .subscribe-form__imput {
    max-width: 357px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscribe-button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding-left: 29px;
}

.submit-icon {
  margin-left: 10px;
  fill: var(--focus-color);
}

/* --------------Footer form-------------*/
.email-input {
  display: flex;
  margin-top: 48px;
}

.footer-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.footer-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-send {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-send-form {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  fill: #ffffff;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: #ffffff;
}

.form-footer {
  position: absolute;
  left: 0;
  top: -36px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*---------------Portfolio---------------*/
/*---------------Main--------------------*/
/*---------------Button filter-----------*/
.container-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__list {
  list-style: none;
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__item {
  display: inline-block;
}

.filter-list__btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-btn-color);
  cursor: pointer;
  padding: 6px 22px;
  border-color: transparent;
  transition: background-color, color, box-shadow 250ms var(--timing-function);
}
.filter-list__btn:focus, .filter-list__btn:hover {
  background-color: var(--accent-color);
  color: var(--focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*---------------Projects----------------*/
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  margin: 0 auto;
}

.projects-item {
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms var(--timing-function);
}
@media screen and (min-width: 768px) {
  .projects-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projects-item:hover .filter-description {
  transform: translateY(0%);
}

.projects-link:focus .filter-description {
  transform: translateY(0%);
}

.projects-link {
  text-decoration: none;
}

.projects-thumb__image {
  display: block;
  max-width: 100%;
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.description-projects {
  padding: 20px 24px;
}

.projects-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.filter-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--after-title-color);
}

.filter-description {
  position: absolute;
  pointer-events: none;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
}
@media screen and (min-width: 480px) {
  .filter-description {
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) {
  .filter-description {
    padding: 49px 29px 77px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-description {
    padding: 63px 24px;
  }
}

.filter-description-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: left;
}
@media screen and (max-width: 384px) {
  .filter-description-text {
    font-size: 14px;
  }
}

.menu-button {
  position: absolute;
  top: -5px;
  right: 0;
  z-index: 3;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button .menu-button__icon-close {
  fill: currentColor;
  display: none;
}
.menu-button.is-open .menu-button__icon-close {
  display: block;
}
.menu-button.is-open .menu-button__icon-open {
  display: none;
}
.menu-button.is-open ~ .page-header__logo {
  display: none;
}
.menu-button:hover, .menu-button:focus {
  color: var(--main-accent-color);
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: none;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  padding: 48px 0 60px 40px;
  background-color: #fff;
}
.mobile-menu.is-open {
  pointer-events: all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 767px) {
  .mobile-menu.is-open {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .mobile-menu {
    max-width: 482px;
    margin: 0 auto;
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 350px) {
  .mobile-nav {
    gap: 25px;
  }
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: var(--main-accent-color);
}
@media screen and (max-width: 350px) {
  .mobile-nav__link {
    font-size: 35px;
  }
}

.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.mobile-contacts__tel {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-accent-color);
}
@media screen and (min-width: 480px) {
  .mobile-contacts__tel {
    font-size: 34px;
  }
}

.mobile-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mobile-links {
  display: flex;
  flex-wrap: wrap;
}

.mobile-links__item + .mobile-links__item {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-links__link {
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--main-accent-color);
}
@media screen and (min-width: 480px) {
  .mobile-links__link {
    font-size: 18px;
  }
}/*# sourceMappingURL=main.css.map */