/*---------------Feature list------------*/

.feature {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.feature-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  list-style: none;
}

.feature-list__item {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.feature-conteiner {
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 25px 0;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.feature-list__title {
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color;
  margin-bottom: 10px;
}

.feature-list__description {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $after-title-color;
}
