/*---------------Feature list------------*/

.feature {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.feature-list__item {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.feature-conteiner {
  background: #f5f4fa;
  display: flex;

  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 25px 0;
  height: 120px;
  margin-bottom: 30px;
}

.feature-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.feature-list__description {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $after-title-color;
}
