.page-header {
  border-bottom: 1px solid #ececec;
  &__container {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 767px) {
    height: 60px;
    padding: 16px 0;
  }
}

.page-header__container {
  position: relative;
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    justify-content: space-between;
  }
}
.contacts {
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    column-gap: 30px;
    margin-left: auto;
  }
}
.contacts__mail,
.contacts__tel {
  text-decoration: none;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.02em;

  color: var(--main-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-accent-color);
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

// site-nav

.site-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: flex;
  gap: 50px;
}

.site-nav__link {
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--main-title-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--main-accent-color);
  }
}
.site-nav__link--active {
  position: relative;
  &::after {
    position: absolute;
    bottom: -1px;

    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--main-accent-color);
  }
}
