/*---------------Logo--------------------*/

.logo {
  color: $title-color;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  &__accent {
    color: $accent-color;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

.page-footer__logo {
  color: $bottom-logo-color;
  margin-bottom: 20px;
  display: inline-block;
}
