.menu-button {
  position: absolute;
  top: -5px;
  right: 0;
  z-index: 3;

  padding: 0;
  border: none;
  background-color: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: none;
  }

  .menu-button__icon-close {
    fill: currentColor;
    display: none;
  }

  &.is-open {
    .menu-button__icon-close {
      display: block;
    }

    .menu-button__icon-open {
      display: none;
    }

    ~ .page-header__logo {
      display: none;
    }
  }

  &:hover,
  &:focus {
    color: var(--main-accent-color);
  }
}
.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  display: none;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  padding: 48px 0 60px 40px;
  background-color: #fff;

  &.is-open {
    pointer-events: all;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 767px) {
      display: none;
    }
  }

  @media screen and (min-width: 480px) {
    max-width: 482px;
    margin: 0 auto;
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (max-width: 350px) {
    gap: 25px;
  }
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-title-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-accent-color);
  }

  @media screen and (max-width: 350px) {
    font-size: 35px;
  }
}

.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin-bottom: 64px;
}

.mobile-contacts__tel {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--main-accent-color);

  @media screen and (min-width: 480px) {
    font-size: 34px;
  }
}

.mobile-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}
.mobile-links {
  display: flex;
  flex-wrap: wrap;
}

.mobile-links__item {
  & + .mobile-links__item {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mobile-links__link {
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  font-weight: 500;

  color: var(--main-accent-color);

  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
}
